
<% include partials/header.ejs %>
    <div id="landing-header">
        <h1>Bitcoin Transaction Report</h1>
        <br>
        <br>

        <form action="/blocks" method="GET">
            
            <input type="text" name="datefilter" value="" placeholder="Enter Date Range" />  
            <button formaction="/blocks" type="submit" class="btn btn-success">Get Block Numbers</button>
        </form>
    </div>
  <script type="text/javascript" src="functions.js"></script>


<% include partials/footer.ejs %>